{% load i18n pages_tags %}
{% spaceless %}
    {% if page_branch_in_menu %}
        <nav>
            <ul class="nav navbar-nav navbar-right">
            {% for page in page_branch %}
                {% if page.in_menu %}
                    <li {% if page.is_current %} class="active" {% endif %}>
                        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>

{#      <!-- Mobile Menu Start -->#}
            <ul class="wpb-mobile-menu">
                {% for page in page_branch %}
                    {% if page.in_menu %}
                        <li {% if page.is_current_or_ascendent or on_home %} class="active" {% endif %}>
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
{#      <!-- Mobile Menu End -->#}
        </nav>
    {% endif %}
{% endspaceless %}